:root{
    --color-primario-black: #242a40;
    --color-secundario-two: #3e3855;
    --color-primario-two: #654d72;
    --color-secundario: #9d6a96;
    --color-primario: #e790bf;
    --color-blanco: #fff;
    --color-negro: #000;
}

body{
    background-color: #000;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: #000;
}
body::-webkit-scrollbar:vertical {
    width:9px;
}
body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
    display: none;
} 
body::-webkit-scrollbar:horizontal {
    height: 12px;
}
body::-webkit-scrollbar-thumb {
    background-color: #654d72;
    border-radius: 20px;
    border: 1px solid #fff;
}
body::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

h3{
    color: var(--color-secundario-two);
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
/* Estilos del Header */
header{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    background-color: rgba(#fff, #fff, #fff, 0.5);
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    border-color: #fff;
    border-style: dashed;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0 0 40px 1px #fff;
}
.nav-menu-logo{
    background: linear-gradient( #9d6a96,#000);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
}
.nav-menu-logo_button{
    display: flex;
    justify-content: space-between;
    width: 240px;
}
.mode-black-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 166px;
}
.title-switch{
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    text-shadow: 0 0 15px #e790bf;
}
.fa-solid{
    font-size: 40px;
    transition: color 0.5s;
}
.fa-solid:hover{
    color: #3e3855;
    text-shadow: 0 0 15px #e790bf;
}
/* Estilos del Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    transition: .4s;
    outline: 2px solid #fff;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #654d72;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #654d72;
  }
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  /* Rounded sliders */
  .slider {
    border-radius: 34px;
  }
  .slider:before {
    border-radius: 50%;
  }
  
/* Estilos de la barra de navegación */
h1{
    font-family: 'Pacifico', cursive;
    color: var(--color-blanco);    
    font-size: 40px;
    display: inline-block;
    width: auto;
    text-shadow: 0 0 15px #e790bf;
}
.subtitulo{
    display: flex;
    align-items: center;
    min-height: 20%;
    width: 500px;
    margin-left: 5%;
}
h2{
    font-size: 30px;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    line-height: 40px;
    background-color: rgba(#fff, #fff, #fff, 0.5);
}
nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    background-color: var(--color-blanco);
    background-image: url(../img/background-img-2.jpg);
    background-position-x: -300px;
    background-attachment: fixed;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.nav{
    position: sticky;
    top: 0;
    margin-top: -44px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    min-width: 700px;
    flex-direction: row;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
}
.nav-button{
    margin: 10px 20px;
    font-weight: bold;
    font-size: 15px;
    text-shadow: 0 0 15px #e790bf;
}
.nav li{
    display: flex;
    background: #0a2661;
    opacity: 95%;
    transition: all 0.5s;
    align-items: center;
}
.nav-button-start{
    border-bottom-left-radius: 20px;
}
.nav-button-end{
    border-bottom-right-radius: 20px;
}
.li-separator{
    height: 100%;
    width: 2px;
    font-size: 33px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: radial-gradient(20px,#fff, transparent);
    opacity: 90%;
}
.nav li:hover{
    background: radial-gradient(45px,#aa87bd,#654d72);
}
.nav li:nth-child(3){
    background: radial-gradient(45px,#aa87bd,#654d72);
}
/* Estilos del Articulo */
.container-menu{
    display: flex;
    justify-content: space-between;
}

.menu{
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 50px;
    background: linear-gradient(90deg,#000,#654d72);
    border-top-right-radius: 25px;
    margin-top: 25px;
    overflow: hidden;
}
.menu:hover{
    overflow-y: scroll;
}
/* Estilos de la barra scroll para .menu*/
.menu::-webkit-scrollbar {
    -webkit-appearance: none;
}
.menu::-webkit-scrollbar:vertical {
    width:8px;
}
.menu::-webkit-scrollbar-button:increment,.menu::-webkit-scrollbar-button {
    display: none;
} 
.menu::-webkit-scrollbar:horizontal {
    height: 8px;
}
.menu::-webkit-scrollbar-thumb {
    background-color: #654d72;
    border-radius: 20px;
    border: 1px solid #f1f2f3;
}
.menu::-webkit-scrollbar-track {
    border-radius: 10px;
    margin-top: 12px;
    margin-bottom: 50px;
}

.div-list-title1{
    font-family: 'Source Code Pro', monospace;
    color: #fff;
    font-size: 15px;
}
.div-list-title2{
    color: #fff;
    font-size: 14px;
}
.list{
    margin-top: 20px;
    min-width: 250px;
    height: 126vh;
}
.list>li{
    text-align: center;
    padding: 8px 10px;
}
.list>li:hover{
    background: radial-gradient(120px,#0a2661, transparent);
}
details li {
    text-align: center;
    padding: 8px 6px;
    width: 85%;
    margin: auto;
}
details li:hover {
    background: radial-gradient(100px,#319ce4, transparent);
}
.list summary{
    text-align: center;
    padding: 8px 10px;
}
.list summary:hover{
    background: radial-gradient(120px,#0a2661, transparent);
}
.li-separator2{
    display: block;
    width: 100%;
    height: 1px;
    background: radial-gradient(80px,#fff, transparent);
}


.focus-menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 50px;
    background: linear-gradient(90deg,#654d72,#000);
    border-top-left-radius: 25px;
    margin-top: 25px;
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
}
.list-focus{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    top: 10px;
    width: 85%;
    margin:auto;
    margin-top: 10px;
}
.list-focus h4{
    font-weight: bolder;
    font-size: 15px;
}

article{
    background-color: rgba(#fff, #fff, #fff, 0.5);
    color: #242a40;
    font-family: 'Source Code Pro', monospace;
    display: flex;
    flex-direction: column;
    max-width: 55%;
}
section{
    background-color: #fff;
    border-radius: 25px;
    padding: 50px;
    margin-top: 25px;
}
i{
    font-weight: bold;
}

p{
    text-align: justify;
}

a{
  color: #9d6a96;  
}
.img-1 {
    width: 200px;
    margin: 20px auto;
}
.iframe-1{
    width: 450px;
    height: 250px;
    margin: 20px auto 0 auto;
}
.img-2 {
    width: 400px;
    margin: 20px auto;
}
.img-3 {
    width: 300px;
    margin: 20px auto;
}
.img-4 {
    width: 400px;
    margin: 20px auto;
}
.img-5 {
    width: 450px;
    margin: 20px auto;
}

/* Aquí va el diseño del ejemplo numero uno*/
.ejemplo-numero-1{
    margin: auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}

.ejemplo-aplicado-1{
    margin: 40px auto;
    min-width: 277px;
    width: 400px;
    background-color: #A9B6C1;
    border-radius: 60px;
    border: 30px solid #A9B6C1;
    border-style: outset;
    box-shadow: 10px 10px 20px 10px #464647;
}
.ejemplo-object-fit{
    width: 200px;
    height: 200px;
    margin: 12px auto;
    outline: 5px solid #e93a57;
    border-style: groove;
}
.ejemplo-object-fit__img-1{
    width: 100%;
    margin: auto;
    border-radius: 60px;
}
.ejemplo-object-fit__img-2{
    width: 50%;
    margin: auto;
    border-radius: 60px;
    text-align: center;
}
.img1 img{
    width: 100%;
    height: 100%;
}
.img2 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.img3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img4 img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.img5 img{
    width: 100%;
    height: 100%;
    object-fit: none;
}
.img6 img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

/* Aquí va el diseño del ejemplo numero dos*/
.ejemplo-dos{
    margin: 50px auto;
}
.ejemplo-grilla{
    margin: 10px auto;
    width: 350px;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 4px;
    column-gap: 4px;
    /*gap: 4px; acortador*/
}
.ejemplo-grilla_item b{
    margin: auto;
    font-size: 2em;
}
.ejemplo-grilla_item {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    background-color: #e93a57;
}
/* En vez de utilizar nth-child podiamos 
usar first-child */
.ejemplo-grilla_item:nth-child(1){
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    background-color: blueviolet;
}
.imagenes-ejemplo-dos{
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.imagenes-ejemplo-dos img{
    width: 400px;
    min-width: 200px;
    margin: 20px auto;
}


*::selection{
    background-color: black;
    color: white;
}

@media only screen and (max-width: 800px){
    *{
        
    }
}